<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Home</title>
</head>
<body> 
    <header><div>
    <img src="/images/Logo Mercado Liebre.jpeg" alt="Logo">
    </div>
    <div>Lugar para la barra de búsqueda</div>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav><ul>
        <li><a>Ofertas</a></li>
        <li><a>Tiendas Oficiales</a></li>
        <li><a>Vender</a></li>
        <li><a>Ayuda</a></li>
    </ul></nav>
    <ul><nav>
        <li><a>Creá tu cuenta</a></li>
        <li><a>Ingresá</a></li>
        <li><a>Mis compras</a></li>
    </ul></nav></header>
    <main><section>
    <img width="300" src="/images/Bunner.jpeg" alt="Bunner">
    
    <h3>Basado en tu última visita</h3>
    <img width="300" src="/images/Cafetera Moulinex.jpeg" alt="Cafetera">
    <p>$6770</p>
    <p>40% off</p>
    <h4>Cafetera Moulinex</h4>

<img width="300" src="/images/MacBook Pro2019.jpeg" alt="MacBook">
<p>$230.000</p>
<p>20% off</p>
<h4>MacBook Pro 2019</h4>

<img width="300" src="/images/Samsuns GalaxiS10.jpeg" alt="Celular">
<p>70.500</p>
<p>10% off</p>
<h4>Samsung Galaxy S10</h4>

<img width="300" src="/images/Smart TV Samsung 43 pulgadas.jpeg" alt="Smart TV">
<p>23.200</p>
<p>5% off</p>
<h4>SmartTv Samsung 43"</h4>
</section></main>
    
<main><section>
    <img width="300" src="/images/Bunner.jpeg" alt="Bunner">
    
    <h3>Sección de Ofertas</h3>
    <img width="300" src="/images/Cafetera Moulinex.jpeg" alt="Cafetera">
    <p>$6770</p>
    <p>40% off</p>
    <h4>Cafetera Moulinex</h4>

<img width="300" src="/images/MacBook Pro2019.jpeg" alt="MacBook">
<p>$230.000</p>
<p>20% off</p>
<h4>MacBook Pro 2019</h4>

<img width="300" src="/images/Samsuns GalaxiS10.jpeg" alt="Celular">
<p>70.500</p>
<p>10% off</p>
<h4>Samsung Galaxy S10</h4>

<img width="300" src="/images/Smart TV Samsung 43 pulgadas.jpeg" alt="Smart TV">
<p>23.200</p>
<p>5% off</p>
<h4>SmartTv Samsung 43"</h4>
</section></main>

<footer>
    <section>
        <ul><li><h4>Pagá con tarjeta o en efectivo</h4></li></ul>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <section>
        <ul><li><h4>Envío gratis desde $ 2.500</h4></li></ul>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
        <ul><li><h4>Seguridad, de principio a fin</h4></li></ul>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>

    <section>
        <ul><li><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></li></ul>
    </section>
</footer>

</body>
</html>